@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-neutral-1000: #151619;
  --color-neutral-900: #1D1F22;
  --color-neutral-800: #2B2D31;
  --color-neutral-700: #35393F;
  --color-neutral-600: #5A6069;
  --color-neutral-500: #7C8187;
  --color-neutral-400: #C1C4CB;
  --color-neutral-300: #E4E4E4;
  --color-neutral-200: #F5F5F5;
  --color-neutral-100: #FFFFFF;
  --color-orange-dark: #E46643;
  --color-orange-light: #F39765;
}

/* Hover */
@custom-variant hover (&:hover);

/* Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Document List Scroll bar */
@layer utilities {
  .doc-list-scroll-bar::-webkit-scrollbar {
    width: 4px;
  }

  .doc-list-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #E46643;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;

  }

   .doc-list-scroll-bar::-webkit-scrollbar-track {
      margin-left: 10px;
   }
}

/* Prose style for markdown */
.prose {
  @apply dark:text-neutral-400 text-neutral-700;
}

.prose h1 {
  font-size: 32px;
  @apply dark:text-neutral-100
}

.prose h2 {
  font-size: 28px;
  font-weight: 300;
  @apply dark:text-neutral-100
}

.prose h3 {
  @apply text-2xl font-bold dark:text-neutral-100;
}

.prose h4 {
  @apply text-xl font-bold dark:text-neutral-100;
}

.prose h5 {
  @apply text-lg font-bold dark:text-neutral-100;
}

.prose h6 {
  @apply text-base font-bold text-orange-dark;
}

.prose p,
.prose ul,
.prose ol {
  @apply text-sm text-neutral-500;
}

ul li::marker {
  @apply text-orange-dark;
}

.prose blockquote {
  @apply p-4 text-sm font-bold rounded-md text-neutral-900 dark:bg-neutral-800 bg-neutral-200 border-orange-dark;
}

.prose blockquote p::before,
.prose blockquote p::after,
.prose p code::before,
.prose p code::after {
  content: none !important;
}

.prose blockquote p {
  @apply not-italic text-neutral-900 dark:text-neutral-100;
}

.prose blockquote p  a {
  @apply dark:text-neutral-100;
}

.prose pre {
  @apply p-6 rounded-md bg-neutral-200 text-neutral-900 dark:text-neutral-100 dark:bg-neutral-800;
}

.prose pre code {
  @apply w-fit ;
}

.prose p code {
  @apply dark:text-neutral-100;
}
